* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

h1,
p {
    background-color: #dde0e3;
}

h1 {
    padding: 20px;
    /* border: 1px solid #5d6063; */
    border-bottom: 1px solid #5d6063;
}

p {
    /* padding: 20px 10px; */
    /* padding: 20px 0 20px 10px; */
    padding: 10px;
    margin-bottom: 20px;
}

em,
strong {
    background-color: #b2d6ff;
}

div {
    color: #fff;
    background-color: #5995da;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5d6063;
    border-radius: 5px;
    width: 200px;
    box-sizing: border-box;
    margin: 20px auto;
}